.formControl.error input, 
.formControl.error textarea{
border: 1px #da3323 solid;
}
.formControl.error span{
   color:#da3323 ;
   }
.formSummaryError{
   border: 1px #da3323 solid;
   padding: 5px;
  color: #7a0908;
}