.nav {
  grid-area: n;
  background-color: #da3323;
  padding: 20px;
  /* margin: 2px;
  border-radius: 5px; */
}

.item a {
  text-decoration: none;
  color: white;
}

.item a.activeLink {
  color: #7a0908;
}
