.topImg img {
  width: 100%;
  height: 120px;
}

.descriptionBlock {
  padding: 10px;
  color: #204369;
  display: flex;
}

.descriptionBlock img {
  width: 200px;
  float: left;
}

.userInformation {
  padding: 10px;
}