.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
  padding: 10px;
}

.dialogs .dialogsItems .dialog a {
  text-decoration: none;
  color: #1d1d1d;
}

.dialogs .dialogsItems .dialog img {
  width: 50px;
  border-radius: 30px;
}

/* .dialogs .dialogsItems .active a {
  color: #204369;
} */

.messages {
  padding: 10px;
}

.messages .message {}